body{
    font-family:'Roboto', sans-serif;
    margin:0;
    
}
span{
    color:rgb(229, 153, 11);


}
h1{
    font-size:50px;
}
.first-section{
    display: flex;
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;

}
.experience-section
{
    display: flex;
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;

}
.half-width{
    width:50%;
    margin-left: 
    5%;
}
.half-width img{
    width:80%;
    
}
.anchor{
    background-image: linear-gradient(rgb(227, 156, 23),rgb(215, 46, 16));
    padding: 10px 20px;
    text-decoration: none;
    color:white;
    border-radius: 5px;
}
.dream-section{
    display: flex;
    margin-top:150px;
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    margin-top:200px;
    margin-left:20px;

}
.web-developer{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 8px;
    padding:20px;
    box-shadow: 10px 10px 10px 10px gray;
}
h2{
    font-size: 40px;
}
.color{
    color:rgb(229, 153, 11);
}
#full-stack-web-developer{
    border-left:8px solid rgb(217, 72, 46);
}
#baby-web-developer{
    border-left: 8px solid rgb(60, 60, 211);
}
footer{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 2px;
}